.env
.venv/
__pycache__/
*.py[cod]

# data/*.mp4
data/*.avi
data/*.mov
data/*.mkv
!data/.gitkeep

# models/*.pt
models/*.onnx
!models/.gitkeep

outputs/*.db
# outputs/*.sqlite
# outputs/*.jsonl
!outputs/.gitkeep
